@use "../../../styles/variables" as *;

.Favorite {
  display: block;
  padding: $space-xs $space-l;

  &__heading {
    font-size: $font-size-xl;
    font-weight: bold;
  }

  &__list {
    display: flex;
    margin-top: $space-s;
  }

  &__item + &__item {
    &::before {
      content: "/";
      margin: $space-none $space-xs;
    }
  }
}
