@use "../../../styles/variables" as *;

.Header {
  display: block;
  padding: $space-xs $space-l;

  &__title {
    font-size: $font-size-xxl;
    font-weight: bold;
    overflow-wrap: break-word;
  }
}
