@use "../variables" as *;

.container {
  margin: $space-xxl auto;
  max-width: 650px;
  padding: $space-none $space-l;
}

.Main {
  display: block;
}

.About {
  &__heading {
    font-size: $font-size-xl;
    font-weight: bold;
  }

  &__profile {
    display: flex;
    align-items: center;
    margin-top: $space-s;
  }

  &__userInfo {
    display: flex;
    flex-direction: column;
    margin-left: $space-m;
  }

  &__username {
    font-size: $font-size-l;
    font-weight: bold;
  }

  &__userId {
    margin-top: $space-xs;

    &::before {
      content: "@";
    }
  }
}

.Favorite {
  margin-top: $space-xxl;

  &__heading {
    font-size: $font-size-xl;
    font-weight: bold;
  }

  &__list {
    display: flex;
    margin-top: $space-s;
  }

  &__item + &__item {
    &::before {
      content: "/";
      margin: $space-none $space-xs;
    }
  }
}

.Link {
  margin-top: $space-xxl;

  &__heading {
    font-size: $font-size-xl;
    font-weight: bold;
  }

  &__list {
    display: flex;
    margin-top: $space-s;
  }

  &__item + &__item {
    &::before {
      content: "/";
      margin: $space-none $space-xs;
    }
  }
}

.Header + .Main {
  margin-top: $space-xxl;
}

.About + .Favorite {
  margin-top: $space-xl;
}

.Favorite + .Link {
  margin-top: $space-xl;
}

.Main + .Footer {
  margin-top: $space-xxl;
}
