@use "../../styles/variables" as *;

.About {
  display: block;
  padding: $space-xs $space-l;

  &__heading {
    font-size: $font-size-xl;
    font-weight: bold;
  }

  &__profile {
    display: flex;
    align-items: center;
    margin-top: $space-s;
  }

  &__userInfo {
    display: flex;
    flex-direction: column;
    margin-left: $space-m;
  }

  &__username {
    font-size: $font-size-l;
    font-weight: bold;
  }

  &__userId {
    margin-top: $space-xs;

    &::before {
      content: "@";
    }
  }
}
